:root {
    --primary-blue: #002772;
    --lavender-pink: #FDE2FF;
    --midnight-black: #1E1E1E;
    --plum-purple: #720060;
    --pale-blue: #D6E6FF;
    --charcoal-gray: #3F3F3F;
    --light-gray: #DCDCDC;
    --pure-white: #FFFFFF;
}